{%load static%}

      <div class="row bg-dark footer py-1 ">
          <div class="col-sm font">
              <h1>ABOUT US</h1>
              <img src="{% static 'images/about.jpg' %}" height="150" width="140" class="img">
              <img src="{% static 'images/8.jpg' %}" height="150" width="140"  class="img">
              <img src="{% static 'images/9.jpg' %}" height="150" width="140" class="img">
              
          </div>
          <div class="col-sm font">
          </br>
            <center>  <img src="{% static 'images/download.png' %}" alt="" width="200" height="40" class="d-inline-block align-text-top" style="..."></center>
        </br></br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </div>
          <div class="col-sm font">
              <h1>CONTACT US</h1>

              <footer>
                <div class="container">
                  <div class="footer-content">
                   
                    <div class="contact-info">
                      <p>Email: email@example.com</p>
                      <p>Phone: +91 8115451542</p>
                      <p>Address: 123 Main road, Mahoba, India</p>
                    </div>
                    <div class="social-media">
                      <a href="https://www.facebook.com/example"><i class="fab fa-facebook"></i></a>
                      <a href="https://www.twitter.com/example"><i class="fab fa-twitter"></i></a>
                      <a href="https://www.instagram.com/example"><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>
                  <p class="copyright">Copyright &copy; 2023 Example.com</p>
                </div>
              </footer>
              
          </div>

         <b><p style="color:white;  " text-size="70px" > PRESENTED BY -:- TARUN SONI , PRAMOD TIWARI , YASH SHARMA , AMIT TIWARI , HARSHIT DIXIT  -------- PROJECT NAME -:- ONLINE SHOPPING WEB APPLICATION  </p></b>
         <b><p style="color:white;  " font-size="50px" >  COLLEGE -:- GOVERMENT POLYTECHNIC MAHOBA     --------- BRANCH -:- COMPUTER SCINCE AND ENGINEERING ------- YEAR/SEMESTER -:- 3RD/6TH</p></b>
          


        